.audience {
  background-color: $color-light-blue;
  padding: 51px 15px;
  @include for-large-up {
    padding: 0;
  }

  &__container {
    @include for-large-up {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__subtitle {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 17px;

    @include for-large-up {
      margin-top: 108px;
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
    margin-top: 0;
    margin-bottom: 18px;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      max-width: 555px;
      letter-spacing: -0.5px;
      margin-top: 24px;
      margin-bottom: 0;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;

    @include for-large-up {
      max-width: 555px;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
  &__buttons {
    @include for-large-up {
      display: flex;
      margin-top: 32px;
    }
  }
  &__button {
    @include for-large-down {
      width: 100%;
      margin-bottom: 12px;
    }
    &:first-child {
      @include for-large-up {
        margin-right: 10px;
        flex-shrink: 0;
      }
    }
    &:last-child {
      color: #000;
    }
  }
  &__choice {
    @include for-large-up {
      display: flex;
      margin-top: 111px;
      margin-bottom: 110px;
      justify-content: center;
    }
  }
  &__visitors {
    margin: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 300px;
    max-width: 290px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;

    @include for-large-up {
      width: 262px;
      margin-top: 0;
      margin-left: 30px;
    }
    &:first-child {
      margin: 0;
      margin-top: 28px;

      @include for-large-up {
        width: 262px;
        margin-top: 0;
      }
    }

    &_select {
      background: #3141c5;
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 300px;
      max-width: 290px;
      margin: 0;
      margin-top: 15px;

      @include for-large-up {
        width: 262px;
        margin-top: 0;
        margin-left: 30px;
      }
    }
  }
  &__img {
    margin-top: 22px;

    &_first {
      width: 138px;
      height: 195px;
    }
    &_second {
      width: 142px;
      height: 195px;
    }
    &_third {
      width: 160px;
      height: 195px;
    }
    &_fought {
      width: 119px;
      height: 195px;
    }
  }

  &__caption {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2b292d;
    margin-top: 22px;
    margin-bottom: 33px;
  }
}
