* {
  box-sizing: border-box;
}
@import 'variables.scss';
html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: $color-black;
}
@import 'breakpoints.scss';
@import 'common.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'tips.scss';
@import 'features.scss';
@import 'audience.scss';
@import 'order.scss';
@import 'footer.scss';

.page {
  width: 100%;
  overflow-x: hidden;

  @include for-large-up {
    margin: auto;
    max-width: 1400px;
    min-height: 100vh;
  }
}
